.input {
    border-radius: 5px;
    //border: 2px solid #609;
    border: 2px solid;
    --padding-start: 10px;
    margin-top: 5px;
    text-align: left;
    //width: 200px;
    //height: 15px;    
}
#pink{
    --background: #ff33cc;
}
#green{
    --background: green;
}
#black{
    --background: black;
}
#grey{
    --background: grey;
}
#lightgrey{
    --background: lightgrey;
}
#blue{
    --background: blue;
}
#purple{
    --background: purple;
}
#yellow{
    --background: yellow;
}
#orange{
    --background: orange;
}
#brown{
    --background: brown;
}
#babyblue{
    --background: #6699ff;
}
#red{
    --background: #990000;
}