.input {
    border-radius: 5px;
    //border: 2px solid #609;
    border: 2px solid;
    --padding-start: 10px;
    margin-top: 5px;
    text-align: left;
    //width: 200px;
    //height: 15px;    
}
.usercolor{
    widht: 100%;
}