.input {
    border-radius: 5px;
    //border: 2px solid #609;
    border: 2px solid;
    --padding-start: 10px;
    margin-top: 5px;
    text-align: left;
    //width: 200px;
    //height: 15px;    
}

//First Row of Colors
#red{
    --background: crimson;
}
#green{
    --background: green;
}
#black{
    --background: black;
}
#grey{
    --background: grey;
}
#lightgrey{
    --background: lightgrey;
}
#white{
    --background: white;
}

//Second Row of Colors
#orange{
    --background: orange;
}
#yellow{
    --background: yellow;
}
#pink{
    --background: deeppink;
}
#violet{
    --background: darkviolet;
}
#blue{
    --background: blue;
}
#lightblue{
    --background: lightskyblue;
}