<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
        <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <h4>Enter User Data</h4>
    <ion-item lines="none">
        <ion-label color="primary" position="stacked">Username</ion-label>
        <ion-input type="text" placeholder="Username" [(ngModel)]="username" id="user" class="input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button id="red" (click)="getColor($event)" value="red"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="green" (click)="getColor($event)" value="green"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="black" (click)="getColor($event)" value="black"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="grey" (click)="getColor($event)" value="grey"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="lightgrey" (click)="getColor($event)" value="lightgrey"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="white" (click)="getColor($event)" value="white"></ion-button>
          </ion-col>        
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button id="orange" (click)="getColor($event)" value="orange"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="yellow" (click)="getColor($event)" value="yellow"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="pink" (click)="getColor($event)" value="pink"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="violet" (click)="getColor($event)" value="violet"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="blue" (click)="getColor($event)" value="blue"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="lightblue" (click)="getColor($event)" value="lightblue"></ion-button>
          </ion-col>                  
        </ion-row>
      </ion-grid>
</ion-item>
  <ion-button (click)="saveuser()">Save User</ion-button>
</ion-content>
