<ion-header >
    <ion-toolbar class="playerHeader">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Player</ion-title>
    </ion-toolbar>    
</ion-header>

<ion-app class="appBackground">
    <ion-content padding>
        <ion-item class="playerBackground">
            <ion-card class="player">
                <ion-card-header>
                    <ion-card-title [(ngModel)]="Songname" ngDefaultControl>{{Songname}}</ion-card-title>
                        <ion-card-subtitle>{{Interpret}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-img src="/assets/test.png"></ion-img>
                </ion-card-content>
            </ion-card>
        </ion-item>
        <ion-item>
            <ion-badge slot="start" class="volLabel" color="primary">{{volSliderValue}}</ion-badge>
            <ion-range min="0" max="100" color="primary" slot='start' class="volSlider" [(ngModel)]="volSliderValue" (mouseup)="volSliderChanged()" (touchend)="volSliderChanged()"></ion-range>
            <!--<ion-button slot="end">-->
            <ion-icon name="{{vol_Icon}}" slot="end"></ion-icon>
            <!--</ion-button>-->
        </ion-item>
        <ion-item>
            <ion-range min="0" max={{trackSliderMax}} color="tertiary" class="songSlider" [(ngModel)]="trackSliderValue" (mouseup)="trackSliderChanged()" (touchend)="trackSliderChanged()">
                <!--<ion-label slot="start" class="playerLabel">{{currDuration}}</ion-label>-->
                <ion-badge slot="start" class="ElapsedBadge" color="tertiary">{{currDuration}}</ion-badge>
                <!--<ion-label slot="end" class="playerLabel">{{Songduration}}</ion-label>-->
                <ion-badge slot="end" class="DurationBadge" color="tertiary">{{Songduration}}</ion-badge>
            </ion-range>
        </ion-item>
            <ion-tabs>
                <ion-tab-bar slot="Bottom">
                    <ion-tab-button (click)="random()" class="tabButtons" [ngStyle]="randomstyle">
                        <ion-icon name="shuffle" [ngStyle]="randomstyle"></ion-icon>
                        <ion-label [ngStyle]="randomstyle">Shuffle</ion-label>
                    </ion-tab-button>
                    <ion-tab-button (click)="backward()" class="tabButtons">
                        <ion-icon name="skip-backward"></ion-icon>
                        <ion-label>Backward</ion-label>
                    </ion-tab-button>    
                    <ion-tab-button (click)="playpause()" class="tabButtons">
                        <ion-icon name="{{Playerstate_icon}}"></ion-icon>
                        <ion-label>{{Playerstate_label}}</ion-label>
                    </ion-tab-button>
                    <ion-tab-button (click)="forward()" class="tabButtons">
                        <ion-icon name="skip-forward"></ion-icon>
                        <ion-label>Forward</ion-label>
                    </ion-tab-button>
                    <ion-tab-button (click)="repeat()" class="tabButtons" [ngStyle]="repeatstyle">
                        <ion-icon name="repeat" [ngStyle]="repeatstyle"></ion-icon>
                        <ion-label [ngStyle]="repeatstyle">Repeat</ion-label>
                    </ion-tab-button>
                </ion-tab-bar>
            </ion-tabs>
    </ion-content>
</ion-app>