.player{
    margin-top:15%;
}

ion-tab-bar {
    height: 70px;
}

.volSlider{
    width: max;
//    margin-left: 5%;
//    margin-right: 5%;
}

.playerBackground{
    margin-top:15%;
}

.playerLabel{
    font-size: 12px;
}
