<ion-header >
    <ion-toolbar class="playerHeader">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Player</ion-title>
        <!--<ion-button slot="end" (click)="test()">
            <ion-icon name="volume-high"></ion-icon>
        </ion-button>-->
    </ion-toolbar>    
</ion-header>

<ion-app class="appBackground">
    <ion-content padding>
        <ion-item class="playerBackground">
            <ion-card class="player">
                <ion-card-header>
<!-- ändern des titelnamens je nachdem welcher titel abgespielt wird -->
                    <ion-card-title [(ngModel)]="Songname" ngDefaultControl>{{Songname}}</ion-card-title>
                        <ion-card-subtitle>{{Interpret}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-img src="/assets/test.png"></ion-img>
                </ion-card-content>
            </ion-card>
        </ion-item>
        <ion-item>
            <ion-button slot="end">
                <ion-icon name="{{vol_Icon}}"></ion-icon>
            </ion-button>
            <ion-range min="0" max="100" slot='start' class="volSlider" [(ngModel)]="volSliderValue" (mouseup)="volSliderChanged()" (touchend)="volSliderChanged()"></ion-range>
            <ion-label slot="start" class="volLabel">{{volSliderValue}}</ion-label>
        </ion-item>
        <ion-item>
            <!--(ionChange)="SliderChanged()" -->
            <ion-range min="0" max={{trackSliderMax}} color="tertiary" class="songSlider" [(ngModel)]="trackSliderValue" (mouseup)="trackSliderChanged()" (touchend)="trackSliderChanged()">
                <ion-label slot="start" class="playerLabel">{{currDuration}}</ion-label>
                <ion-label slot="end" class="playerLabel">{{Songduration}}</ion-label>
            </ion-range>
        </ion-item>
            <ion-tabs>
                <ion-tab-bar slot="Bottom">
                    <!--In den Tabs wurden die 'tab=""' Teile entfernt, weil das die Tags sind, mit denen das Routing verbunden ist,
                    welches in diesem Fall nicht vorhanden ist. Für die Funktion wie wir sie verwenden werden sie daher nicht benötigt.
                    und sind für die Fehlermeldungen verantwortlich die in der COnsole erscheinen-->

                    <!--<ion-tab-button tab="Shuffle" (click)="shuffle()" class="tabButtons">-->
                    <ion-tab-button (click)="random()" class="tabButtons" [ngStyle]="randomstyle">
                        <ion-icon name="shuffle"></ion-icon>
                        <ion-label>Shuffle</ion-label>
                    </ion-tab-button>
                    <!--<ion-tab-button tab="Backwards" (click)="backward()" class="tabButtons">-->
                    <ion-tab-button (click)="backward()" class="tabButtons">
                        <ion-icon name="skip-backward"></ion-icon>
                        <ion-label>Backward</ion-label>
                    </ion-tab-button>    
                    <!--<ion-tab-button tab="Play" (click)="playpause()" class="tabButtons">-->
                    <ion-tab-button (click)="playpause()" class="tabButtons">
                        <ion-icon name="{{Playerstate_icon}}"></ion-icon>
                        <ion-label>{{Playerstate_label}}</ion-label>
                    </ion-tab-button>
                    <!--<ion-tab-button tab="Forward" (click)="forward()" class="tabButtons">-->
                    <ion-tab-button (click)="forward()" class="tabButtons">
                        <ion-icon name="skip-forward"></ion-icon>
                        <ion-label>Forward</ion-label>
                    </ion-tab-button>
                    <!--<ion-tab-button tab="Repeat" (click)="repeat()" class="tabButtons">-->
                    <ion-tab-button (click)="repeat()" class="tabButtons" [ngStyle]="repeatstyle">
                        <ion-icon name="repeat"></ion-icon>
                        <ion-label>Repeat</ion-label>
                    </ion-tab-button>
                </ion-tab-bar>
            </ion-tabs>
    </ion-content>
</ion-app>
        <!--NEUES MENÜ MIT DIVS & CSS - OHNE FEHLERMELDUNGEN
        ############################################################-->
       <!--
<ion-item>
            <div class="Controls">
                <div class="Control" (click)="backward()">
                    <ion-icon name="skip-backward" class="ControlIcon"></ion-icon>
                    <ion-label class="ControlLabel">Backward</ion-label>
                </div>
                <div class="Control" (click)="playpause()">
                    <ion-icon name="{{Playerstate_label}}" class="ControlIcon"></ion-icon>
                    <ion-label class="ControlLabel">{{Playerstate}}</ion-label>
                </div>
                <div class="Control" (click)="stop()">
                    <ion-icon name="square" class="ControlIcon"></ion-icon>
                    <ion-label class="ControlLabel">Stop</ion-label>
                </div>
                <div class="Control" (click)="forward()">
                    <ion-icon name="skip-forward" class="ControlIcon"></ion-icon>
                    <ion-label class="ControlLabel">Forward</ion-label>
                </div>
            </div>
        </ion-item>
    <ion-button (click)="storage_test()">storage_test</ion-button>
</ion-content>
</ion-app>
    -->   