<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Player</ion-title>
        </ion-toolbar>
</ion-header>

<ion-app>
    <ion-content padding>
        <ion-item class="playerBackground">
            <ion-card class="player">
                <ion-card-header>
<!-- ändern des titelnamens je nachdem welcher titel abgespielt wird -->
                    <ion-card-title [(ngModel)]="Songname" ngDefaultControl>{{Songname}}</ion-card-title>
                        <ion-card-subtitle>{{Interpret}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-img src="/assets/test.png"></ion-img>
                </ion-card-content>
            </ion-card>
        </ion-item>
        <ion-item>
            <ion-range min="0" max={{Songduration}} color="tertiary" value={{currDuration}} class="volSlider" (ionChange)="test()">       
                <ion-label slot="start" class="playerLabel">{{currDuration}}</ion-label>
<!-- anzeige der liederlänge die abgespielt wird-->
                <ion-label slot="end" class="playerLabel">{{Songduration}}</ion-label>
            </ion-range>
        </ion-item>
        <!--NEUES MENÜ MIT DIVS & CSS - OHNE FEHLERMELDUNGEN
        ############################################################-->
        <ion-item>
            <div class="Controls">
                <div class="Control" (click)="backward()">
                    <ion-icon name="skip-backward" class="ControlIcon"></ion-icon>
                    <ion-label class="ControlLabel">Backward</ion-label>
                </div>
                <div class="Control" (click)="playpause()">
                    <ion-icon name="{{Playerstate}}" class="ControlIcon"></ion-icon>
                    <ion-label class="ControlLabel">{{Playerstate}}</ion-label>
                </div>
                <div class="Control" (click)="stop()">
                    <ion-icon name="square" class="ControlIcon"></ion-icon>
                    <ion-label class="ControlLabel">Stop</ion-label>
                </div>
                <div class="Control" (click)="forward()">
                    <ion-icon name="skip-forward" class="ControlIcon"></ion-icon>
                    <ion-label class="ControlLabel">Forward</ion-label>
                </div>
            </div>
        </ion-item>
        <!--########################################################-->
        <ion-item>
            <ion-tabs >
                <ion-tab-bar slot="Bottom">
                    <ion-tab-button tab="Backwards" (click)="backward()">
                        <ion-icon name="skip-backward"></ion-icon>
                            <ion-label>Backward</ion-label>
                    </ion-tab-button>    
                    <ion-tab-button tab="Play" (click)="playpause()">
                        <ion-icon name="{{Playerstate}}"></ion-icon>
                            <ion-label>{{Playerstate}}</ion-label>
                    </ion-tab-button>
                    <ion-tab-button tab="Stop" (click)="stop()">
                        <ion-icon name="square"></ion-icon>
                            <ion-label>Stop</ion-label>
                    </ion-tab-button>
                        <ion-tab-button tab="Forward" (click)="forward()">
                            <ion-icon name="skip-forward"></ion-icon>
                                <ion-label>Forward</ion-label>
                    </ion-tab-button>
                </ion-tab-bar>
            </ion-tabs>
        </ion-item> 
    </ion-content>
</ion-app>
