
.input {
    border-radius: 5px;
    //border: 2px solid #609;
    border: 2px solid;
    padding-left: 5px;
    padding-right: 5px;
    //padding: 20px;
    //padding-left: 50px;
    //width: 200px;
    //height: 15px;    
}